@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #21242a;
    display: grid;
    place-content: center;
}

.container {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 50px 5px 50px;
    background-color: #1c1c1c;
    overflow: hidden;
}
.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.border-line {
    position: absolute;
    left: 0;
    inset: 0;
}
.border-line::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.border-line::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}

.container form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    background-color: #222;
    border-radius: 50px 5px 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

form h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #00eeff;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

form .input-box {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

form .input-box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    font-weight: 500;
    color: #23242a;
    z-index: 10;
}

form .input-box span {
    position: absolute;
    left: 0;
    color: #8f8f8f;
    padding: 20px 10px 10px;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    transition: all 0.5s ease;
    pointer-events: none;
}

form .input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #45f3ff;
    border-radius: 5px;
    transition: height 0.5s ease;
}

form .input-box input:valid ~ span,
form .input-box input:focus ~ span {
    transform: translate(-8px, -34px);
    font-size: 0.75em;
    color: #45f3ff;
}

form .input-box input:valid ~ i,
form .input-box input:focus ~ i {
    height: 44px;
}

form .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 25px;
}

form .links a {
    font-size: 0.75em;
    color: #8f8f8f;
}

form .links a:hover,
form .links a:nth-child(2) {
    color: #45f3ff;
}

form .links a:hover,
form .links a:nth-child(2):hover {
    text-decoration: underline;
}

form input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: #45f3ff;
    font-size: 0.9em;
    font-weight: 600;
    color: #1c1c1c;
    border-radius: 20px;
    cursor: pointer;
}

form input[type="submit"]:active {
    opacity: 0.8;
}